/* src/ContactInfo.css */

.contact-info {
    padding: 60px 200px;
    text-align: center;
    background-color: #EAECEE;
}
  
.contact-info-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
}
  
.contact-info-description {
    font-size: 1rem;
    margin-bottom: 30px;
}
  
.contact-info-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 8px;
}
  
.contact-info-item {
    display: flex;
    align-items: center;
    flex: 1 1 calc(33.333% - 20px); /* 3 columns layout with gaps */
    max-width: calc(33.333% - 20px); /* Adjust for gaps */
    text-align: left;
}
  
.contact-info-icon {
    width: 64px;
    height: 64px;
    margin-right: 20px;
}
  
.contact-info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info-heading {
    font-size: 1rem;
    margin-bottom: 0px;
}
  
.contact-info-content {
    font-size: 1.25rem;
    margin-top: 8px;
    line-height: 150%;
    color: #333;
}
  
.contact-info-cta {
    margin-top: 30px;
}
  
.contact-info-cta p {
    font-size: 1.25rem;
    margin-bottom: 15px;
}
  
.contact-info-cta-button {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
}
  
.contact-info-cta-button:hover {
    background-color: #0056b3;
}
  
@media (max-width: 768px) {
    .contact-info-item {
      flex: 1 1 100%; /* Stack items on small screens */
      max-width: 100%;
    }
}
  